.express__title {
    color: #2E2E3C;
    border: 1px #000 solid;
    margin: 40px auto 80px;
    border-radius: 4px;
    font-family: 'RB', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.express__cards-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    transform: translateY(-30px);
}

.express__cards {
    display: flex;
    gap: 30px;
}

.express-card {
    width: 350px;
    height: 502px;

    display: flex;
    flex-direction: column-reverse;
    padding: 15px 15px;
    transform: translateY(-30px);
}

.card1 {
    background: url(../img/express1.png) no-repeat;
}

.card2 {
    background: url(../img/express2.png) no-repeat;
}

.card3 {
    background: url(../img/express3.png) no-repeat;
}